$white: white;
$black: black;
$transparent: transparent;
$lightblue: lightblue;
$orange: orange;
$default-panel-tag-background: hsl(235, 28.5%, 37.8%);
$secondary-panel-tag-background: hsl(13, 39%, 53.7%);
$tertiary-panel-tag-background: hsl(0, 70%, 28.4%);
$alt-panel-tag-background: #786452;
$material-panel-tag-background: #666;
$black-75percent: rgba(0, 0, 0, 0.75);

.panel-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    list-style-type: none;
    margin-bottom: 2px;

    .panel-tag {
        text-rendering: optimizeLegibility;
        background-color: $default-panel-tag-background;
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.05em;
        line-height: 1;
        padding: 3px 4px;
        text-transform: uppercase;
    }
    .panel-tag_primary.panel-tag {
        background-color: $default-panel-tag-background;
        color: $white;
    }
    .panel-tag_secondary.panel-tag {
        background-color: $secondary-panel-tag-background;
        color: $white;
    }
    .panel-tag_tertiary.panel-tag {
        background-color: $tertiary-panel-tag-background;
        color: $white;
    }
    .panel-tag_alt.panel-tag {
        background-color: $alt-panel-tag-background;
        color: $white;
    }
    .panel-tag_material.panel-tag {
        background-color: $material-panel-tag-background;
        color: $white;
    }
}

.effect-panel {
    position: fixed;
    z-index: 50;

    hr {
        margin-right: 0;
        width: 42px;
    }

    .effect-item {
        display: flex;
        justify-content: flex-end;
        height: 46px;
        margin-bottom: 4px;

        &:hover {
            .effect-info {
                display: block;
            }
        }

        .effect-info {
            background-color: $black-75percent;
            display: none;
            border-radius: 5px;
            height: 100%;
            margin-right: 0.5em;
            margin-left: 0.5em;
            padding-right: 0.25em;
            padding-left: 0.25em;
            padding-bottom: 0.1em;
            padding-top: 0.1em;
            height: max-content;
            min-height: 100%;
            max-width: 300px;

            h1 {
                border: none;
                color: $white;
                font-size: 16px;
                font-weight: bold;
                margin: 8px;
                padding: 0;
                text-align: left;
            }

            h2 {
                border: none;
                color: $white;
                font-size: 14px;
                margin: 8px;
                padding: 0;
                text-align: left;
            }

            a.content-link {
                color: $black;
            }

            .panel-tags {
                justify-content: flex-end;
                margin: 8px;

                .panel-tag {
                    margin-bottom: 0;
                    margin-left: 3px;
                    margin-right: -2px;
                }
            }
        }

        .icon {
            aspect-ratio: 1;
            align-items: center;
            background-repeat: no-repeat;
            background-size: contain;
            border: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow:
                0 0 0 1px silver,
                0 0 0 2px gray;
            box-shadow:
                0 0 0 1px silver,
                0 0 0 2px gray,
                inset 0 0 4px rgba(0, 0, 0, 0.5);
            color: $transparent;
            display: flex;
            justify-content: center;
            margin: 2px 0;
            position: relative;
            height: 42px;
            width: 42px;

            .badge {
                bottom: 1px;
                color: $white;
                display: inline-block;
                left: 1px;
                position: absolute;
                text-shadow: 0px 0px 2px black;

                &.unlimited {
                    color: $lightblue;
                }

                &.expired {
                    color: $orange;
                }
            }

            &.temporary {
                border-radius: 10%;
            }

            &.passive {
                border-radius: 50%;
            }

            &.disabled {
                filter: grayscale(0.8);
            }
        }
    }
}
