<section class="effect-panel">
  {{#each effects as |effect|}}
  <div class="effect-item">
    <div class="effect-info">
      <h1>{{effect.label}}</h1>
      {{#if effect.flags.convenientDescription}}
        <h2>{{effect.flags.convenientDescription}}</h2>
      {{/if}}
      <div class="tags">
        <div class="tag tag_secondary">
          {{remainingTimeLabel effect}}
        </div>
      </div>
    </div>
    <div class="icon" data-effect-id="{{effect._id}}" style="background-image: url({{effect.icon}})">
      {{#if (lt effect.remainingSeconds 0)}}
        <span class="expired">expired</span>
      {{/if}}
      <i class="fas fa-comment-alt"></i>
    </div>
  </div>
  {{/each}}
</section>