.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  list-style-type: none;
  margin-bottom: 2px;
}
.tags .tag {
  text-rendering: optimizeLegibility;
  background-color: hsl(235, 28.5%, 37.8%);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 3px 4px;
  text-transform: uppercase;
}
.tags .tag_primary.tag {
  background-color: hsl(235, 28.5%, 37.8%);
  color: #fff;
}
.tags .tag_secondary.tag {
  background-color: hsl(13, 39%, 53.7%);
  color: #fff;
}
.tags .tag_tertiary.tag {
  background-color: hsl(0, 70%, 28.4%);
  color: #fff;
}
.tags .tag_alt.tag {
  background-color: #786452;
  color: #fff;
}
.tags .tag_material.tag {
  background-color: #666;
  color: #fff;
}

.effect-panel {
  /* Note that exact positioning is all handled in the app */
  position: fixed;
  z-index: 50;
}
.effect-panel hr {
  margin-right: 0;
  width: 42px;
}
.effect-panel .effect-item {
  display: flex;
  justify-content: flex-end;
  height: 46px;
  margin-bottom: 4px;
}
.effect-panel .effect-item:hover .effect-info {
  display: block;
}
.effect-panel .effect-item .effect-info {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  border-radius: 5px;
  height: 100%;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  height: max-content;
  min-height: 100%;
  max-width: 300px;
}
.effect-panel .effect-item .effect-info h1 {
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  padding: 0;
  text-align: left;
}
.effect-panel .effect-item .effect-info h2 {
  border: none;
  color: #fff;
  font-size: 14px;
  margin: 8px;
  padding: 0;
  text-align: left;
}
.effect-panel .effect-item .effect-info a.content-link {
  color: black;
}
.effect-panel .effect-item .effect-info .tags {
  justify-content: flex-end;
  margin: 8px;
}
.effect-panel .effect-item .effect-info .tags .tag {
  margin-bottom: 0;
}
.effect-panel .effect-item .effect-info .tags .tag + .tag,
.effect-panel .effect-item .effect-info .tags .tag:first-child {
  margin-left: 3px;
  margin-right: -2px;
}
.effect-panel .effect-item .icon {
  aspect-ratio: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px silver, 0 0 0 2px gray;
  box-shadow: 0 0 0 1px silver, 0 0 0 2px gray, inset 0 0 4px rgba(0, 0, 0, 0.5);
  color: transparent;
  display: flex;
  height: 42px;
  justify-content: center;
  margin: 2px 0;
  position: relative;
  width: 42px;
}
.effect-panel .effect-item .temporary.icon {
  border-radius: 10%;
}
.effect-panel .effect-item .passive.icon {
  border-radius: 50%;
}
.effect-panel .effect-item .disabled.icon {
  filter: grayscale(0.8);
}
.effect-panel .effect-item .icon .badge {
  bottom: 1px;
  color: #fff;
  display: inline-block;
  left: 1px;
  position: absolute;
  text-shadow: 0px 0px 2px black;
}
.effect-panel .effect-item .icon .badge.unlimited {
  color: lightblue;
}
.effect-panel .effect-item .icon .badge.expired {
  color: orange;
}
